body {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.titulo-section {
  font-size: 30px;
  font-weight: bold;
}

.section {
  padding: 5%;
  padding-bottom: 0px;
  padding-top: 0px;
}

.boton-secundario {
  background-color: rgb(255 255 255);
  color: #000000;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid;
}

/* Inicio NAVBAR */
.topnav {
  overflow: hidden;
  background-color: rgb(202, 14, 14);
  display: flex;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 80px;
  text-decoration: none;
  font-size: 17px;
}

.container-nav-link a {
  /* float: right; */
}

.topnav .container-titulo {
  width: 70%;
}

.topnav .container-nav-link {
  /* width: 30%; */
  margin-left: auto;
  display: block;
}

.container-titulo a {
  text-align: inherit;
}

.container-titulo a > .logo-avianca {
  width: 15%;
}

.topnav a:hover {
  /* background-color: #ddd; */
  /* color: black; */
}

.topnav a.active {
  color: white;
  border-top: 4px solid;
}

.topnav .icon {
  display: none;
}

/* FIN NAVBAR */

/* INICIO BACKGROUND */
.backgorund {
  width: 100%;
  height: 60vh;
  background-image: url("../img/background.jpg");
  background-size: 100% 100%;
  /* border: 1px solid red; */
}

.backgorund .descripcion-backgorund {
  width: 30%;
  background: rgb(41 41 41 / 50%);
  position: absolute;
  top: 15%;
  left: 50%;
  padding: 30px;
}

.backgorund .descripcion-backgorund .titulo-descripcion-backgorund {
  color: #f2f2f2;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.backgorund .descripcion-backgorund .texto-descripcion-backgorund {
  color: #f2f2f2;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.boton-principal {
  background-color: rgb(202, 14, 14);
  color: #f2f2f2;
  border: none;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
/* FIN BACKGROUND */

/* BUSCA TU VUELO */

.row {
  display: flex;
}

.grid {
  display: grid;
}

.busca-vuelo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  position: relative;
  top: -80px;
}

.busca-vuelo {
  border: 1px solid #b7b7b7;
  width: 100%;
  position: relative;
  background: #ffffff;
  padding: 40px;
}

.busca-vuelo .titulo {
  /* padding: 20px; */
  font-size: 25px;
  font-weight: 700;
}

.busca-vuelo .tipo-vuelo,
.busca-vuelo .destinos,
.busca-vuelo .salidas {
  /* padding: 20px; */
}

.busca-vuelo .tipo-vuelo div,
.busca-vuelo .destinos div,
.busca-vuelo .salidas div {
  padding: 20px;
}

.busca-vuelo .destinos div input,
.busca-vuelo .destinos div select,
.busca-vuelo .salidas div input {
  padding: 10px;
}

.busca-vuelo .destinos div select {
  width: 15em;
}

.boton-busca-tu-vuelo {
  text-align: end;
  padding: 30px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #545454;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #545454, #545454);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #545454;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* FIN BUSCA TU VUELO */

/* RECOMENDACIONES */

.text-center {
  text-align: center;
}

.recomendacion .titulo {
  font-size: 30px;
  font-weight: bold;
}

.recomendacion .configuracion {
  color: #ca0e0e;
  text-decoration: underline;
}

.recomendacion .product-card .product-details button {
  width: 100%;
}

.recomendacion-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  /* margin: 50px auto; */
  background: #fafafa;
  margin: 30px;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  /* padding: 50px; */
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-catagory.second {
  float: right;
  position: relative;
  top: -30px;
  right: 50%;
}

.product-details h4 a {
  margin-bottom: 18px;
  font-size: 25px;
  color: #606060;
  font-weight: 600;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-details .desde {
  font-size: 20px;
  margin-bottom: 0px;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  /* width: 50%; */
}

.product-price {
  font-size: 30px;
  color: #606060;
  font-weight: 600;
}

.product-price small {
  font-size: 50%;
  font-weight: 400;
  /* text-decoration: line-through; */
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

/* FIN DE RECOMNDACION */

/* INICIO ACCESO RAPIDO */
.accesos-directos-container {
  background: #f3f3f3;
}

.accesos-directos {
  padding: 80px 0px 90px 0px;
}

.accesos-directos .titulo {
  margin-bottom: 50px;
}

.titulo-acceso-directo {
  font-weight: 600;
}

.titulo-acceso-directo i {
  padding: 20px;
  color: #ca0e0e;
  font-size: 20px;
}

.descripcion-acceso-directo {
  padding-left: 60px;
  padding-right: 30px;
}

.descripcion-acceso-directo div {
  padding-top: 20px;
  color: #ca0e0e;
  text-decoration: underline;
}

/* FIN ACCESO RAPIDO */

/* INICIO TEN ENCUENTA */
.en-cuenta {
  padding: 80px 0px 90px 0px;
}
.en-cuenta > .row > div {
  border: 1px solid lightgrey;
  padding: 15px;
  border-radius: 2px;
  margin: 30px;
}

.en-cuenta .titulo {
  margin-bottom: 40px;
}

.titulo-en-cuenta {
  font-size: 18px;
  padding: 20px;
  font-weight: 600;
  padding-left: 0px;
}

.descripcion-en-cuenta div {
  margin-top: 20px;
}

/* FIN TEN ENCUENTA */

/* INICIO FOOTER */

footer {
  background: #f3f3f3;
}

footer .row,
footer > h3 {
  padding: 50px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.item-footer {
  margin: 50px;
}

.item-footer h3 {
  color: #ca0e0e;
  margin-bottom: 20px;
}

.item-footer p {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  /* INICIO NAVBAR */

  .topnav {
    display: block;
  }
  .topnav .container-nav-link a {
    display: none;
  }
  .topnav .container-titulo a.icon {
    display: block;
  }
  .topnav .container-titulo {
    width: 100%;
    display: flex;
  }

  .topnav .container-titulo a:first-child {
    width: 80%;
  }

  topnav .container-titulo .icon {
    width: 30%;
  }

  .topnav .container-nav-link {
    width: 100%;
  }
  .container-titulo a > .logo-avianca {
    width: 30%;
  }
  .topnav.responsive {
    position: absolute;
    z-index: 1;
  }
  .topnav.responsive .container-titulo .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive .container-nav-link a {
    float: none;
    display: block;
    text-align: left;
  }
  /* Fin NAVBAR */

  .row {
    display: block;
  }

  .boton-principal {
    font-size: 10px;
    padding: 15px 15px;
  }

  .backgorund .descripcion-backgorund .titulo-descripcion-backgorund {
    font-size: 30px;
  }

  .backgorund .descripcion-backgorund .texto-descripcion-backgorund {
    font-size: 20px;
  }

  .recomendacion-card {
    display: block;
  }

  .product-card {
    margin: auto;
    margin-bottom: 10px;
  }
}
